<%=image_tag user_sekarang.photo%>
<%= form_for user_sekarang, :html => { :multipart=> true } do |f| %>
<div class="field">
  	<%= f.file_field :photo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>